@import "common.scss";

.page-homes{
    width: 100%;
    margin: 0 auto;
}
.home{
    width: 20%;
}
.header{
    display: flex;
    padding: 20px;
    background-color: #1147a8;
    color: #fff;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    padding: 20px;
    color: #ccc;
    
}
nav ul li{
    min-width: 10%;
}
nav ul li :hover{
    border-bottom: 2px solid #ccc;
}

nav a:hover{
    color: #fff;
    text-decoration: none;

}

//generality
.generality {
    width: 100%;
    display: flex;
    background-color: #1147a8;
    color: #fff;
    min-height: 300px;
    align-items: center;
    justify-content: space-around;
}
.generality h1{
    font-size: 30px;
}

.present{

}

.graphic{

}





a{
    text-decoration: none;
}
