<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="page-homes">
        <div class="header">
            <div class="container d-flex">
                <div class="logo">
                    <a href="#">
                        <img src="/images/header/softdreams-logo.png" alt="logo">
                    </a>
                </div>             
                <div class="menu-header d-flex">
                    <ul class="d-flex sub-menu">
                        <li><a href="#">HOME</a></li>
                        <li class="softdreams"><a href="#">SOFTDREAMS</a>
                            <ul class="sub-menu-header">
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Hình ảnh</a></li>
                                <li><a href="#">Hoạt động</a></li>
                            </ul>
                        </li>
                        <li class="softdreams"><a href="#">SẢN PHẨM</a>
                            <ul class="sub-menu-header">
                                <li><a href="#">HDDT</a></li>
                                <li><a href="#">EASYCA</a></li>
                                <li><a href="#">PMKT</a></li>
                                <li><a href="#">BHXH</a></li>
                                <li><a href="#">HDDV</a></li>
                            </ul>
                        </li>
                        <li class="softdreams"><a href="#">GIẢI PHÁP</a>
                            <ul class="sub-menu-header">
                                <li><a href="#">HDDT</a></li>
                                <li><a href="#">EASYSIGN</a></li>
                                <li><a href="#">PMKT</a></li>
                                <li><a href="#">CLOUD</a></li>
                                <li><a href="#">WEB</a></li>
                                <li><a href="#">EMAIL</a></li>
                                <li><a href="#">VOICE</a></li>
                                <li><a href="#">HRM</a></li>
                                <li><a href="#">CRM</a></li>
                            </ul>
                        </li>
                        <li><a href="#">ĐĂNG NHẬP</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <main>
            <section class="generality">
                <div class="container">
                    <div class="present">
                        <h1>SDS cung cấp các phần mềm hỗ trợ doanh nghiệp</h1>
                        <p>Giải pháp quản trị Doanh nghiệp #1 Việt Nam được tin dùng bởi +5.000 doanh nghiệp hàng đầu</p>
                    </div>
                    <div class="graphic">
                        <img src="/images/main/home.svg" alt="graphic" class="desktop">
                    </div>
                </div>
            </section>
            <section class="introduce">
                <div class="container">
                    <h1 class="title">Title</h1>
                    <p>text</p>
                    <div class="row">
                        <div class="col">
                            <img src="/images/main/pack.work.svg" alt="Work">
                            <h1 class="work">Work+</h1>
                            <p>text</p>
                            <a href="#">Xem thêm</a>
                        </div>
                        <div class="col">
                            <img src="/images/main/pack.info.svg" alt="Info">
                            <h1 class="work">Info+</h1>
                            <p>text</p>
                            <a href="#">Xem thêm</a>
                        </div>
                        <div class="col">
                            <img src="/images/main/pack.hrm.svg" alt="HRM">
                            <h1 class="work">HRM+</h1>
                            <p>text</p>
                            <a href="#">Xem thêm</a>
                        </div>
                        <div class="col">
                            <img src="/images/main/pack.sales.svg" alt="Sales">
                            <h1 class="work">Sales+</h1>
                            <p>text</p>
                            <a href="#">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="intro">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/images/main/platform.svg" alt="intro">
                        </div>
                        <div class="col-md-8">
                            <h2>title h2</h2>
                            <h1>title h1</h1>
                            <p>text description intro</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="application">
                <div class="container">
                    <div class="title">
                        <h1>Title App</h1>
                        <p>text application</p>
                    </div>
                    <div class="row">
                        <div class="easyinvoice col-md-3">
                            <img src="#" alt="easyinvoice">
                            <h3>EASYINVOICE</h3>
                            <a href="#">Xem thêm</a>
                        </div>
                        <div class="easybooks col-md-3">
                            <img src="#" alt="easybooks">
                            <h3>EASYBOOKS</h3>
                            <a href="#">Xem thêm</a>
                        </div>
                        <div class="easysign col-md-3">
                            <img src="#" alt="easysign">
                            <h3>EASYSIGN</h3>
                            <a href="#">Xem thêm</a>
                        </div>
                        <div class="easyca col-md-3">
                            <img src="#" alt="easyca">
                            <h3>EASYCA</h3>
                            <a href="#">Xem thêm</a>
                        </div>
                        <div class="easycloud col-md-3">
                            <img src="#" alt="easy cloud">
                            <h3>EASY CLOUD</h3>
                            <a href="#">Xem thêm</a>
                        </div>
                        <div class="easyin col-md-3">
                            <img src="#" alt="easy in">
                            <h3>EASY IN</h3>
                            <a href="#">Xem thêm</a>
                        </div>
                        <div class="easymail col-md-3">
                            <img src="#" alt="easy mail">
                            <h3>EASY MAIL</h3>
                            <a href="#">Xem thêm</a>
                        </div>
                        <div class="crm col-md-3">
                            <img src="#" alt="crm">
                            <h3>CRM / ERP / RETAIL / ECOMMERCE</h3>
                            <a href="#">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="items">
                <div class="container">
                    <div class="title">
                        <h1>Title News</h1>
                        <p>text news</p>
                    </div>
                    <div class="row">
                        <div class="item col-md-4">
                            <div class="item-area">
                                <img src="#" alt="item1">
                                <a class="title-item" href="#">Title item 1</a>
                                <p>text description</p>
                                <a href="#">Xem thêm</a>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="item-area">
                                <img src="#" alt="item1">
                                <a class="title-item" href="#">Title item 2</a>
                                <p>text description</p>
                                <a href="#">Xem thêm</a>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="item-area">
                                <img src="#" alt="item1">
                                <a class="title-item" href="#">Title item 3</a>
                                <p>text description</p>
                                <a href="#">Xem thêm</a>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="item-area">
                                <img src="#" alt="item1">
                                <a class="title-item" href="#">Title item 4</a>
                                <p>text description</p>
                                <a href="#">Xem thêm</a>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="item-area">
                                <img src="#" alt="item1">
                                <a class="title-item" href="#">Title item 5</a>
                                <p>text description</p>
                                <a href="#">Xem thêm</a>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="item-area">
                                <img src="#" alt="item1">
                                <a class="title-item" href="#">Title item 6</a>
                                <p>text description</p>
                                <a href="#">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="items-ft">
                        <a href="#">Xem thêm những tin tức về SDS</a>
                    </div>
                </div>
            </section>
            <section class="extend">
                <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="#" alt="extend">
                    </div>
                    <div class="col-md-8">
                        <div class="content-ex">
                            <h2>title h2</h2>
                            <h1>title h1</h1>
                            <p>text description extend</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="integration">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="content-int">
                                <h2>title h2</h2>
                                <h1>title h1</h1>
                                <p>text description extend</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="#" alt="integration">
                        </div>
                    </div>
                </div>
            </section>
            <section class="best">
                <div class="container">
                    <div class="title">
                        <h1>Title Best</h1>
                        <p>text best</p>
                    </div>
                    <div class="row">
                        <div class="best-app col-md-3">
                            <div class="card">
                                <a href="#">
                                    <img src="/images/main/pack.work.svg" alt="Avatar" style="width:100%">
                                </a>
                                    <div class="text">
                                  <h4><b>John Doe</b></h4> 
                                  <p>Architect & Engineer</p> 
                                </div>
                              </div>
                        </div>
                        <div class="best-app col-md-3">
                            <div class="card">
                                <a href="#">
                                    <img src="/images/main/pack.hrm.svg" alt="Avatar" style="width:100%">
                                </a>
                                <div class="text">
                                  <h4><b>John Doe</b></h4> 
                                  <p>Architect & Engineer</p> 
                                </div>
                              </div>
                        </div>
                        <div class="best-app col-md-3">
                            <div class="card">
                                <a href="#">
                                    <img src="/images/main/pack.info.svg" alt="Avatar" style="width:100%">
                                </a>
                                    <div class="text">
                                  <h4><b>John Doe</b></h4> 
                                  <p>Architect & Engineer</p> 
                                </div>
                              </div>
                        </div>
                        <div class="best-app col-md-3">
                            <div class="card">
                                <a href="#">
                                    <img src="/images/main/pack.sales.svg" alt="Avatar" style="width:100%">
                                </a>
                                <div class="text">
                                  <h4><b>John Doe</b></h4> 
                                  <p>Architect & Engineer</p> 
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="customer">
                <div class="container">
                    <div class="title-cus">
                        <h2>title h2</h2>
                        <p>text description extend</p>
                    </div>
                    <div class="bg-cus">
                        <img src="#" alt="img customer">
                    </div>
                </div>
            </section>
            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Liên hệ</h5>
                            <p class="email">Email</p>
                            <p class="email">Hotline</p>
                            <p class="email">SĐT</p>
                            <p class="email">Trụ sở</p>
                            <p class="email">VPDD</p>
                        </div>
                        <div class="col-md-2">
                            <h5>CÔNG TY</h5>
                        </div>
                        <div class="col-md-2">
                            <h5>sẢN PHẨM</h5>
                        </div>
                        <div class="col-md-2">
                            <h5>LIÊN KẾT</h5>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>