<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="page-homes">
        <div class="header">
            <div class="home">
                <a href="#">HOME</a>
            </div>
            <div class="nav">
                <nav class="container">
                    <ul class="desktop">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Sản phẩm</a></li>
                        <li><a href="#">Giải pháp</a></li>
                        <li><a href="#">Khách hàng</a></li>
                        <li><a href="#">Công ty</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <main>
            <section class="desktop generality">
                <div class="present">
                    <h1>SDS cung cấp các phần mềm hỗ trợ doanh nghiệp</h1>
                    <p>Giải pháp quản trị Doanh nghiệp #1 Việt Nam được tin dùng bởi +5.000 doanh nghiệp hàng đầu</p>
                </div>
                <div class="graphic">
                    <img src="#" alt="graphic" class="desktop">
                </div>
            </section>
            <section class="desktop introduce">
                <h1 class="title-intro">Title</h1>
                <p>text</p>
                <div class="row">
                    <div class="col">
                        <img src="" alt="">
                        <h1 class="work">Work+</h1>
                        <p>text</p>
                        <a href="#">Xem thêm</a>
                    </div>
                    <div class="col">
                        <img src="" alt="">
                        <h1 class="work">Info+</h1>
                        <p>text</p>
                        <a href="#">Xem thêm</a>
                    </div>
                    <div class="col">
                        <img src="" alt="">
                        <h1 class="work">HRM+</h1>
                        <p>text</p>
                        <a href="#">Xem thêm</a>
                    </div>
                    <div class="col">
                        <img src="" alt="">
                        <h1 class="work">Sales+</h1>
                        <p>text</p>
                        <a href="#">Xem thêm</a>
                    </div>
                </div>
            </section>
            <section class="intro">
                <div class="row">
                    <div class="col-md-4">
                        <img src="#" alt="intro">
                    </div>
                    <div class="col-md-8">
                        <h2>title h2</h2>
                        <h1>title h1</h1>
                        <p>text description intro</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>