<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/pages/easyinvoice.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <title>Document</title>
</head>
<body>
    <%- include('../menu.ejs') %>
    <section class="header-product">
        <div class="container">
            <div class="logo-prod w">
                <a href="#">EASYINVOICE</a>
            </div>
            <div class="menu-prod d-flex">
                <ul>
                    <li><a href="#">TRANG CHỦ</a></li>
                    <li><a href="#">BẢNG GIÁ</a></li>
                    <li><a href="#">HỖ TRỢ</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="generality">
        <div class="container">
            <div class="present">
                <h1>SDS cung cấp các phần mềm hỗ trợ doanh nghiệp</h1>
                <p>Giải pháp quản trị Doanh nghiệp #1 Việt Nam được tin dùng bởi +5.000 doanh nghiệp hàng đầu</p>
                <a href="#" class="btn-registration">Đăng ký ngay</a>
                <a href="#" class="btn-contact">Liên hệ tư vấn</a>
            </div>
            <div class="graphic">
                <img src="/images/main/home.svg" alt="graphic" class="desktop">
            </div>
        </div>
    </section>
    <main>
        <section class="introduce-prod">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="introduce-text">
                            <img src="/images/easyinvoice/graphic-1.svg" alt="introduce1">
                            <p class="title-small">Sắp xếp văn bản theo nhóm</p>
                            <p>Dễ dàng tổ chức văn bản theo các nhóm (ví dụ: Sales, Marketing, QĐ Ban Giám Đốc), có thể chia nhỏ theo các folder cụ thể.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="introduce-text">
                            <img src="/images/easyinvoice/graphic-1.svg" alt="introduce1">
                            <p class="title-small">Sắp xếp văn bản theo nhóm</p>
                            <p>Dễ dàng tổ chức văn bản theo các nhóm (ví dụ: Sales, Marketing, QĐ Ban Giám Đốc), có thể chia nhỏ theo các folder cụ thể.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="introduce-text">
                            <img src="/images/easyinvoice/graphic-1.svg" alt="introduce1">
                            <p class="title-small">Sắp xếp văn bản theo nhóm</p>
                            <p>Dễ dàng tổ chức văn bản theo các nhóm (ví dụ: Sales, Marketing, QĐ Ban Giám Đốc), có thể chia nhỏ theo các folder cụ thể.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="feature">
            <div class="container">
                <h1 class="title-feat">
                    Các tính năng nổi bật của EasyInvoice
                </h1>
                <p>
                    Ứng dụng được nhiều doanh nghiệp tin dùng
                </p>
            </div>
        </section>

        <section class="feature-one">
            <div class="container">
                <div class="title-one">
                    <h3>Tính năng đầu tiên</h3>
                    <p>Tổ chức văn bản thông minh và logic - theo các nhóm, loại văn bản và keywords</p>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="img-one">
                            <img src="/images/easyinvoice/office_feature_01.png" alt="office_feature_01">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="content-feat1">
                            <div class="text-feat">
                                <b>Phân chia văn bản theo nhóm</b>
                                <p>Tổ chức văn bản theo nhóm, mỗi nhóm lại có thể phân chia theo các folders</p>
                            </div>
                            <div class="text-feat">
                                <b>Phân chia văn bản theo nhóm</b>
                                <p>Tổ chức văn bản theo nhóm, mỗi nhóm lại có thể phân chia theo các folders</p>
                            </div>
                            <div class="text-feat">
                                <b>Phân chia văn bản theo nhóm</b>
                                <p>Tổ chức văn bản theo nhóm, mỗi nhóm lại có thể phân chia theo các folders</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="feature-tow">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="img-one">
                            <img src="/images/easyinvoice/office_feature_02.png" alt="office_feature_01">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="content-feat1">
                            <div class="title-one">
                                <h3>Tính năng đầu tiên</h3>
                                <p>Tổ chức văn bản thông minh và logic - theo các nhóm, loại văn bản và keywords</p>
                            </div>
                            <div class="text-feat">
                                <b>Phân chia văn bản theo nhóm</b>
                                <p>Tổ chức văn bản theo nhóm, mỗi nhóm lại có thể phân chia theo các folders</p>
                            </div>
                            <div class="text-feat">
                                <b>Phân chia văn bản theo nhóm</b>
                                <p>Tổ chức văn bản theo nhóm, mỗi nhóm lại có thể phân chia theo các folders</p>
                            </div>
                            <div class="text-feat">
                                <b>Phân chia văn bản theo nhóm</b>
                                <p>Tổ chức văn bản theo nhóm, mỗi nhóm lại có thể phân chia theo các folders</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="feature-three">
            <div class="container">
                <div class="title-one">
                    <h3>Tính năng đầu tiên</h3>
                    <p>Tổ chức văn bản thông minh và logic - theo các nhóm, loại văn bản và keywords</p>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="img-one">
                            <img src="/images/easyinvoice/office_feature_03.png" alt="office_feature_01">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="content-feat1">
                            <div class="text-feat">
                                <b>Phân chia văn bản theo nhóm</b>
                                <p>Tổ chức văn bản theo nhóm, mỗi nhóm lại có thể phân chia theo các folders</p>
                            </div>
                            <div class="text-feat">
                                <b>Phân chia văn bản theo nhóm</b>
                                <p>Tổ chức văn bản theo nhóm, mỗi nhóm lại có thể phân chia theo các folders</p>
                            </div>
                            <div class="text-feat">
                                <b>Phân chia văn bản theo nhóm</b>
                                <p>Tổ chức văn bản theo nhóm, mỗi nhóm lại có thể phân chia theo các folders</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="feature-four">
            <div class="container">
                <div class="title-one">
                    <h3>Tính năng đầu tiên</h3>
                    <p>Tổ chức văn bản thông minh và logic - theo các nhóm, loại văn bản và keywords</p>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="content-feat1">
                            <div class="text-feat">
                                <b>Phân chia văn bản theo nhóm</b>
                                <p>Tổ chức văn bản theo nhóm, mỗi nhóm lại có thể phân chia theo các folders</p>
                            </div>
                            <div class="text-feat">
                                <b>Phân chia văn bản theo nhóm</b>
                                <p>Tổ chức văn bản theo nhóm, mỗi nhóm lại có thể phân chia theo các folders</p>
                            </div>
                            <div class="text-feat">
                                <b>Phân chia văn bản theo nhóm</b>
                                <p>Tổ chức văn bản theo nhóm, mỗi nhóm lại có thể phân chia theo các folders</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="img-one">
                            <img src="/images/easyinvoice/office_feature_04.png" alt="office_feature_01">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../footer.ejs') %>
</body>
</html>