<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/pages/easyinvoice.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <title>Document</title>
</head>
<body>
    <%- include('../menu.ejs') %>
    <section class="header-product">
        <div class="container">
            <div class="logo-prod w">
                <a href="#">EASYINVOICE</a>
            </div>
            <div class="menu-prod">
                <ul>
                    <li><a href="#">TRANG CHỦ</a></li>
                    <li><a href="#">BẢNG GIÁ</a></li>
                    <li><a href="#">HỖ TRỢ</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="generality">
        <div class="container">
            <div class="present">
                <h1>SDS cung cấp các phần mềm hỗ trợ doanh nghiệp</h1>
                <p>Giải pháp quản trị Doanh nghiệp #1 Việt Nam được tin dùng bởi +5.000 doanh nghiệp hàng đầu</p>
                <a href="#" class="btn-registration">Đăng ký ngay</a>
                <a href="#" class="btn-contact">Liên hệ tư vấn</a>
            </div>
            <div class="graphic">
                <img src="/images/main/home.svg" alt="graphic" class="desktop">
            </div>
        </div>
    </section>
    <%- include('../footer.ejs') %>
</body>
</html>