<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pages/easyinvoice.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/pages/price-list-easyinvoice.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <title>Document</title>
</head>
<body>
    <%- include('../menu.ejs') %>
    <section class="header-product">
        <div class="container">
            <div class="logo-prod w">
                <a href="#">EASYINVOICE</a>
            </div>
            <div class="menu-prod d-flex">
                <ul>
                    <li><a href="#">TRANG CHỦ</a></li>
                    <li><a href="#">BẢNG GIÁ</a></li>
                    <li><a href="#">HỖ TRỢ</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="title">
        <div class="container">
            <h1>Bảng giá easyinvoice</h1>
            <p>Hóa đơn điện tử dành cho doanh nghiệp</p>
        </div>
    </section>
    <main>
        <section class="content-price">
            <div class="container">
                <div class="row"></div>
                    <div class="col-md-3">
                        <div class="package">
                            <h5>Tiêu đề</h5>
                            <p>
                                <b class="price">450.000</b> VND/Tháng
                            </p>
                            <p class="explain">
                                Sử dụng toàn bộ tính năng sản phẩm
                                Hỗ trợ trong giờ hành chính
                                Miễn phí cập nhật tính năng mới
                            </p>
                            <p class="explain2">
                                Thanh toán tối thiểu 12 tháng
                                Tối đa 30 tài khoản
                            </p>
                            <a href="#">Đăng ký</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="package">
                            <h5>Tiêu đề</h5>
                            <p>
                                <b class="price">450.000</b> VND/Tháng
                            </p>
                            <p class="explain">
                                Sử dụng toàn bộ tính năng sản phẩm
                                Hỗ trợ trong giờ hành chính
                                Miễn phí cập nhật tính năng mới
                            </p>
                            <p class="explain2">
                                Thanh toán tối thiểu 12 tháng
                                Tối đa 30 tài khoản
                            </p>
                            <a href="#">Đăng ký</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="package">
                            <h5>Tiêu đề</h5>
                            <p>
                                <b class="price">450.000</b> VND/Tháng
                            </p>
                            <p class="explain">
                                Sử dụng toàn bộ tính năng sản phẩm
                                Hỗ trợ trong giờ hành chính
                                Miễn phí cập nhật tính năng mới
                            </p>
                            <p class="explain2">
                                Thanh toán tối thiểu 12 tháng
                                Tối đa 30 tài khoản
                            </p>
                            <a href="#">Đăng ký</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="package">
                            <h5>Tiêu đề</h5>
                            <p>
                                <b class="price">450.000</b> VND/Tháng
                            </p>
                            <p class="explain">
                                Sử dụng toàn bộ tính năng sản phẩm
                                Hỗ trợ trong giờ hành chính
                                Miễn phí cập nhật tính năng mới
                            </p>
                            <p class="explain2">
                                Thanh toán tối thiểu 12 tháng
                                Tối đa 30 tài khoản
                            </p>
                            <a href="#">Đăng ký</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact">
            <div class="container">
                <h3>Liên hệ hotline (028)123 456 789</h3>
            </div>
        </section>
    </main>
    <%- include('../footer.ejs') %>
</body>
</html>